.venv/
__pycache__/
*.pyc
*.DS_Store  # macOS-specific

echo "ch14/*.json" >> .gitignore
echo "ch14/*.pickle" >> .gitignore

ch18/credentials-sheets.json
ch18/token.json
ch18/credentials-sheets.json
ch18/token.json
